<mat-card>
  <mat-card-title class="d-flex">Categories</mat-card-title>
  <mat-card-content>
    <canvas #chart></canvas>
    <mat-list>
      <mat-list-item *ngFor="let cat of (data.onCategoriesChange | async); last as isLast">
        <mat-icon matListIcon>{{ cat.icon }}</mat-icon>
        <div class="two-col-list-item">
          <span>{{ cat.name }}</span> <app-currency [amount]="categoryTotals[cat.id]"></app-currency>
        </div>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
