<h1 matDialogTitle>{{ transaction.name }}</h1>

<mat-dialog-content>
  <mat-list>
    <mat-list-item> <app-currency [amount]="transaction.amount"></app-currency> </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{ transaction.date | date: 'dd. MMM yyyy' }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>{{ category ? category.icon : 'clear' }}</mat-icon>
      {{ category ? category.name : 'No category' }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>{{ account?.icon }}</mat-icon>
      {{ account?.name }}
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onEdit()">EDIT</button>
  <button mat-button (click)="onDelete()">DELETE</button>
  <button class="ml-5" mat-flat-button color="primary" mat-dialog-close>OK</button>
</mat-dialog-actions>
