<mat-card>
  <mat-card-title>Categories</mat-card-title>
  <mat-card-content>
    <mat-action-list>
      <ng-container *ngFor="let cat of (categories | async)">
        <button mat-list-item (click)="showCategory(cat)">
          <mat-icon matListIcon>{{ cat.icon }}</mat-icon>
          <div>{{ cat.name }}</div>
        </button>
        <mat-divider></mat-divider>
      </ng-container>
      <button mat-list-item (click)="addCategory()">
        <mat-icon matListIcon>add</mat-icon>
        <div>Add category</div>
      </button>
    </mat-action-list>
  </mat-card-content>
</mat-card>
