<div class="grid-container">
  <mat-card class="header">
    <mat-card-title>
      <div class="header-content">
        <div>
          <small>Total</small><br />
          <app-currency [amount]="data.totalBalance"></app-currency>
        </div>
        <div style="text-align: center">
          <small>Current Month</small><br />
          <app-currency [amount]="data.currentMonthTotal"></app-currency>
        </div>
        <div style="text-align: right">
          <small>Last Month</small><br />
          <app-currency [amount]="data.lastMonthTotal"></app-currency>
        </div>
      </div>
    </mat-card-title>
  </mat-card>

  <mat-card class="accounts">
    <mat-card-title>Accounts</mat-card-title>
    <mat-card-content>
      <mat-action-list>
        <ng-container *ngFor="let acc of (accounts | async)">
          <button mat-list-item (click)="showAccount(acc)">
            <mat-icon matListIcon>{{ acc.icon }}</mat-icon>
            <div class="two-col-list-item">
              <span>{{ acc.name }}</span> <app-currency [amount]="acc.balance"></app-currency>
            </div>
          </button>
          <mat-divider></mat-divider>
        </ng-container>
        <button mat-list-item (click)="addAccount()">
          <mat-icon matListIcon>add</mat-icon>
          <div>Add account</div>
        </button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="statistics">
    <mat-card-title>Statistics</mat-card-title>
    <mat-card-content> <app-total-chart></app-total-chart> </mat-card-content>
  </mat-card>

  <app-transactions-list maxCount="10"></app-transactions-list>
</div>
