<div class="grid-container">
  <mat-card class="header">
    <mat-card-title>
      <div class="header-content">
        <div>
          <small>Total</small><br />
          <app-balance [amount]="totalBalance | async"></app-balance>
        </div>
        <div style="text-align: center">
          <small>Current Month</small><br />
          <app-balance [amount]="currentMonthTotal | async"></app-balance>
        </div>
        <div style="text-align: right">
          <small>Last Month</small><br />
          <app-balance [amount]="lastMonthTotal | async"></app-balance>
        </div>
      </div>
    </mat-card-title>
  </mat-card>

  <mat-card class="accounts">
    <mat-card-title>Accounts</mat-card-title>
    <mat-card-content>
      <mat-action-list>
        <ng-container *ngFor="let acc of (accounts | async); last as isLast">
          <button mat-list-item>
            <mat-icon matListIcon>{{ acc.icon }}</mat-icon>
            <div class="two-col-list-item">
              <span>{{ acc.name }}</span> <app-balance [amount]="acc.balance"></app-balance>
            </div>
          </button>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </ng-container>
      </mat-action-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="statistics">
    <mat-card-title>Statistics</mat-card-title>
    <mat-card-content> <canvas id="chart"></canvas> </mat-card-content>
  </mat-card>

  <mat-card class="transactions">
    <mat-card-title>Transactions</mat-card-title>
    <mat-card-content>
      <mat-action-list>
        <ng-container *ngFor="let item of (transactionsByDate | async)">
          <h3 mat-subheader class="transaction-date">{{ item.key }}</h3>

          <ng-container *ngFor="let transaction of item.value; last as isLast">
            <button mat-list-item (click)="showTransaction(transaction)">
              <mat-icon matListIcon>{{ (transaction.category | async)?.icon }}</mat-icon>
              <div class="two-col-list-item">
                <div class="transaction-text">
                  <div class="transaction-name">{{ transaction.name }}</div>
                  <small class="transaction-category">{{ (transaction.category | async)?.name }}</small>
                </div>
                <app-balance [amount]="transaction.amount"></app-balance>
              </div>
            </button>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </ng-container>
        </ng-container>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
</div>
