<h1 matDialogTitle>Existing transactions</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p class="mat-typography">
      This account still has {{ transactionCount }} existing transactions.<br />
      What should be done with them?
    </p>

    <mat-form-field>
      <mat-select [(value)]="action">
        <mat-option [value]="ActionEnum.Delete">Delete them</mat-option>
        <mat-option [value]="ActionEnum.Move">Move them</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field *ngIf="action == ActionEnum.Move">
      <mat-select placeholder="Target account" [formControl]="form.controls.targetAccount">
        <mat-option *ngFor="let acc of accounts" [value]="acc.id">
          {{ acc.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.targetAccount.errors?.required">Target account is required</mat-error>
    </mat-form-field>
    <br />
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>CANCEL</button>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" type="submit">OK</button>
  </mat-dialog-actions>
</form>
