.transaction-date {
  &:not(:first-child) {
    margin-top: 15px;
  }

  margin-bottom: -10px !important;
  opacity: 0.8;
}

.transaction-text {
  padding-left: 10px;
  text-align: left;

  .transaction-name {
    font-size: 18px;
  }

  .transaction-category {
    opacity: 0.7;
  }
}
