@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~normalize.css/normalize.css';

a {
  text-decoration: none;
}

.d-inline {
  display: inline !important;
}

.d-flex {
  display: flex !important;
}

.spacer {
  flex: 1 1 auto !important;
}

$spacers: 0 0.25 0.5 1 2 3;
@for $i from 1 through length($spacers) {
  .ml-#{$i - 1} {
    margin-left: 1rem * nth($spacers, $i) !important;
  }
  .mr-#{$i - 1} {
    margin-right: 1rem * nth($spacers, $i) !important;
  }
  .mt-#{$i - 1} {
    margin-top: 1rem * nth($spacers, $i) !important;
  }
  .mb-#{$i - 1} {
    margin-bottom: 1rem * nth($spacers, $i) !important;
  }
  .mx-#{$i - 1} {
    margin-left: 1rem * nth($spacers, $i) !important;
    margin-right: 1rem * nth($spacers, $i) !important;
  }
  .my-#{$i - 1} {
    margin-top: 1rem * nth($spacers, $i) !important;
    margin-bottom: 1rem * nth($spacers, $i) !important;
  }
}

.mat-button.active .mat-button-focus-overlay {
  opacity: 0.1;
}

.mat-list .mat-list-item .mat-list-item-content {
  padding: 0 8px !important;
}

.mat-list .mat-list-item .mat-list-icon {
  margin-left: -8px;
}

.small .mat-form-field-infix {
  width: unset !important;
}

button.small {
  line-height: 1;
}

.full-width {
  width: 100%;
}

.two-col-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.click-through {
  pointer-events: none;

  > * {
    pointer-events: initial;
  }
}

mat-select-trigger {
  line-height: 3em;

  .mat-icon {
    margin-right: 16px;
    vertical-align: middle;
  }
}

router-outlet {
  display: none;
}

.nav-grid {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-template-areas: 'nav content';
  grid-gap: 20px;

  @media (min-width: 1500px) {
    grid-template-columns: 300px 770px 330px;
  }

  > * {
    min-width: 0;
  }
}

.sidenav {
  grid-area: nav;
}

.mat-list-base .mat-list-item.active {
  color: #3f51b5;
  font-weight: 500;
}
