<h1 matDialogTitle>Add Transaction</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
    </mat-form-field>
    <br />

    <mat-form-field class="full-width">
      <span matPrefix>€&nbsp;</span>
      <input matInput type="number" step="0.01" placeholder="Amount" formControlName="amount" />
      <mat-error *ngIf="form.controls.amount.errors?.required">Amount is required</mat-error>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-select placeholder="Category" [formControl]="form.controls.category">
        <mat-option *ngFor="let cat of (categories | async)" [value]="cat.id">
          {{ cat.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.category.errors?.required">Category is required</mat-error>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-select placeholder="Account" [formControl]="form.controls.account">
        <mat-option *ngFor="let acc of (accounts | async)" [value]="acc.id">
          {{ acc.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.account.errors?.required">Account is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>CANCEL</button>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" type="submit">ADD</button>
  </mat-dialog-actions>
</form>
