.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (min-width: 1500px) {
    grid-template-columns: 300px 770px 350px;
  }

  > * {
    min-width: 0;
  }
}

.active {
  color: #3f51b5;
  font-weight: 500;
}
